
#parentContainer{
    display: flex;
    flex-direction: column;
    width:auto;
    display:inline;
    overflow-x: hidden;
}

#topPane{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}

#chartContainer{
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

#chartSelectors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.chartSelector{
    border: rgba(0, 0, 0, 0.6) solid 1px;
    border-radius: 20px;
    padding: 1px;
    color: rgba(0, 0, 0, 0.6);
    width: 15%;
    overflow: auto;
    text-align: center;
}

.chartSelector:hover{
    background-color:  var(--bs-body-color);
    border: rgba(0, 0, 0, 0.6) solid 1px;
    color: white;
}

input[type="radio"] {
    display: none;
}

#mealCardList{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
    text-align: center;
}

#showMoreButton{
    text-align:center;
    margin: 0 auto;
    display: block;
}

#mealCardContainer{
    width: calc(33% - 20px);
    border: 1px solid blue;
}

.fade-transition {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
.fade-transition.show {
    opacity: 1;
}