
#mealCard{
    margin: 20px;
    background: #fff;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: column; 
    justify-content: center;
    align-items: center;
}

.cardImage {
    padding: "1em 1em 0 1em";
    object-fit: "contain";
}