.custom-checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .custom-checkbox input {
    margin-right: 10px;
  }
  
  .custom-checkbox span {
    font-weight: bold;
  }
  
  .box:hover {
    border: 2px solid red;
    border-radius: 5px;
  }

  .box:active {
    border: 2px solid red;
    border-radius: 5px;
    background-color: blue;
  }