.custom-checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .custom-checkbox input {
    margin-right: 10px;
  }
  
  .custom-checkbox span {
    font-weight: bold;
  }
  