
#grid-container {
    display: grid;
    grid-template-columns: minmax(15%) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "sidebar content";
    height: 100vh;
  }
  

.contentPane {
    /* max-width: 85%;
    height: 100%;
    padding-left: 4%;
    overflow-x: hiddens; */
}