
.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
    padding-top: 28px;
    display: flex;
    flex-direction: column;
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}
.linkTextVisible {
    padding-left: 16px;
    visibility: visible;
}

.linkTextHidden {
    padding-left: 16px;
    visibility: hidden;
}

.sideitem:hover {
    background-color: #1542731c;

}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

.logoutButton{
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    position: flex;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

.logoutButtonContainer{
    margin-top: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}
