#outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mealDisplayContainer{
  margin-top: 5%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  width: 60%;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
.custom-checkbox input {
  margin-right: 10px;
}

.custom-checkbox span {
  font-weight: bold;
}

.box:hover {
  background-color: 2px solid lightgray;
  background-color: lightgray;
  border-radius: 5px;
}

.mainHeading {
  text-align: center;
  padding: 10px;
  color: rgb(10,25,41);
  font-size: 36px;
  font-weight: bold;
}

.portion-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}

.portion-btn button {
  margin-left: 5px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  margin-right: 10px;
}

.thing-container {
  display: flex;
  margin-left: auto;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
}

.checkbox-list > * {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  
}

td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.mainHeading {
  text-align: center;
}

.custom-accordion {
  width: 500px;
  margin: 0 auto; /* Center the accordion horizontally */
}

span {cursor:pointer; }
  .number{
    margin:100px;
  }
  .minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
  }

  .plus-button {
    border: 2px solid lightgrey;
    background-color: #fff;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
    margin: 5px;
    
    &:after,
    &:before {
      content: "";
      display: block;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &:before {
      height: 1em;
      width: 0.2em;
    }
  
    &:after {
      height: 0.2em;
      width: 1em;
    }
  }

  .plus-button--small {
    font-size: 8px;
  }

  .minus-button {
    border: 2px solid lightgrey;
    background-color: #fff;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
    margin: 5px;
    
    &:after {
      content: "";
      display: block;
      background-color: gray;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &:after {
      height: 0.2em;
      width: 1em;
    }
  }

  .minus-button--small {
    font-size: 8px;
  }

  #addMealButton {
    background-color: transparent;
    color: rgb(10, 25, 41);
    border: 2px solid rgb(10, 25, 41);
    border-radius: 10px;
  }
  
  /* Cancel Button */
  #clearButton {
    background-color: transparent;
    color: #ff4569;
    border: 2px solid #ff4569;
    border-radius: 10px;
  }