:root {
    --sidenav-column-width: 200px; /* Set the sidenav width */
}

#grid-container {
    display: grid;
    grid-template-columns: var(--sidenav-column-width) 1fr; /* Use 1fr to make the content pane occupy the remaining space */
    grid-template-areas: "sidebar content";
    height: 100vh;
    transition: grid-template-columns 0.3s ease-in-out; /* Add transition for smooth resizing */
}
  
.contentPane {
    grid-area: content;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    transition: margin-left 0.3s ease-in-out; /* Add transition for smooth resizing */
}
  
.sidenav {
    width: 200px; /* Set the sidenav width to the width variable */
    transition: width 0.3s ease-in-out;
    background-color: rgb(10, 25, 41);
    padding-top: 28px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.sidenavClosed {
    width: 60px; /* Set the sidenav width to the minimum width */
    transition: width 0.3s ease-in-out;
    background-color: rgb(10, 25, 41);
    padding-top: 28px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}

#sideitem:hover {
    background-color: #1542731c;

}
.linkTextVisible {
    padding-left: 16px;
    visibility: visible;
}

.linkTextHidden {
    padding-left: 16px;
    visibility: hidden;
}

.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

.logoutButton{
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    position: flex;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

.logoutButtonContainer{
    margin-top: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}